nav.navbar.navbar-inverse
  .container-fluid
    .navbar-header
      button.navbar-toggle.collapsed(data-toggle="collapse", data-target="#navbar")
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(ui-sref='home') AFTER8
    #navbar.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right
        li: a(ui-sref='profile'): i.fa.fa-user &nbsp; Profile
        li: a(ui-sref='about'): i.fa.fa-info &nbsp; About
        li: a(ui-sref='contact'): i.fa.fa-at &nbsp; Contact
        li: a(ui-sref='home'): i.fa.fa-sign-out &nbsp; Sign-out        
.container.center
  form.form-horizontal
      h2(style='text-align: center;') My Infos
      br
      h3.promo2 Languages used:
      ul.promo1 
        li.promo1 HTML5/ JADE, LESS/ CSS
        li.promo1 JavaScript, JQuery, AngularJS, NodeJS, Firebase
      h3.promo2 API used:
      ul.promo1
        li.promo1 Last FM, Foursquare, Geolocation, Google Maps, Uber
      
      h3.promo2 Contact me:
      ul
        li.promo1 Amah Ajavon
        br
        li.promo1 (415) 212 9210
        br
        li.promo1 amahajavon.com
        br
        li.promo1 info@amahajavon.com
        
          
