.container
  .row
    br
    a.btn.btn-danger(href='#/profile') My Profile Page
    br
    
    h3.promo1 So... What's popping?
    br
.container
  .row
    .col-lg-3.col-md-2.col-sm-1.col-xs-1
    .col-lg-6.col-md-8.col-sm-10.col-xs-10
      .userImg
        img.img-responsive(src='http://www.onsecrethunt.com/wallpaper/wp-content/uploads/2013/04/Yeh-Jawaani-Hai-Deewani-Night-Party-HD-Wallpaper.jpg', alt='')
        p.promo1 Here is what my night looked like!
        a(href='#') 
          i.fa.fa-thumbs-o-up &nbsp; 15 votes
      
    .col-lg-3.col-md-2.col-sm-1.col-xs-1
.container
  .row
    br
    br      

.container
  .row
    .col-lg-3.col-md-2.col-sm-1.col-xs-1
    .col-lg-6.col-md-8.col-sm-10.col-xs-10
      .userImg
        img.img-responsive(src='http://www.viceland.com/blogs/nl_photoblog/files/2010/03/vice_mardi_grass_rdam-37-667x446.jpg', alt='')
        p.promo1 We had a great time!
        a(href='#') 
          i.fa.fa-thumbs-o-up &nbsp; 8 votes 
            
    .col-lg-3.col-md-2.col-sm-1.col-xs-1
      
.container
  .row
    br
    br       
.container
  .row      
    form
      input(type='text', ng-model='feed.title')
      input(type='text', ng-model='feed.url')
      input(type='submit', value='Add Feed')
        
.container
  .row
    br
    br
