nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      button.navbar-toggle.collapsed(data-toggle="collapse", data-target="#navbar")
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(ui-sref='home') AFTER8
    #navbar.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right
        li: a(ui-sref='about'): i.fa.fa-info &nbsp; About
        li: a(ui-sref='contact'): i.fa.fa-at &nbsp; Contact
        li: a(ui-sref='home'): i.fa.fa-sign-out &nbsp; Sign-out
.container-fluid#feed       
  .row
    br
    a.btn.btn-danger(href='#/profile') Profile Page
    br
  .row#firechat-wrapper
    .col-lg-2.col-md-1.col-xs-1
    .col-lg-8.col-md-10.col-xs-10
      h3 Make party buddies... chat!
      .form-group.chat-toolbar
        label(for='nameInput')
        input.input-sm#nameInput(ng-model='name', type='text', placeholder='enter a username...')
      .form-group
        input.input-sm#messageInput(ng-model='msg', type='text', placeholder='Type a message...')
        br
      .form-group
        a.btn.btn-info(ng-click='addMessage()') Add it
        br
      .form-group      
        ul#messages.chat-messages
          li#message(ng-repeat='msg in messages')
            strong.chat-username {{ msg.from }}
            |           says: {{ msg.body }}
    .col-lg-2.col-md-1.col-xs-1  




      
    //- .col-lg-6.col-md-6.col-xs-6.photo-input
    //-   h3 Pictures Feed              
    //-   .form-group
    //-     .fb-image-upload(ng-controller='ImageUpload')
    //-       form(ng-submit='upload_image(image)')
    //-         .fb-error(ng-show='error') {{error}}
    //-         .fb-inputs(ng-hide='image.isUploading')
    //-           input.fb-image-upload(fb-image-upload='', type='file', name='image')
    //-           input.fb-submit(type='submit', value='Upload Image', ng-show='image.valid')
    //-         .fb-uploading(ng-show='image.isUploading')
    //-           | Uploading...    
    //-   .form-group



//-     
//-     h3.promo1 So... What's popping?
//-     br
//- .container
//-   .row
//-     .col-lg-3.col-md-2.col-sm-1.col-xs-1
//-     .col-lg-6.col-md-8.col-sm-10.col-xs-10
//-       .userImg
//-         img.img-responsive(src='http://www.onsecrethunt.com/wallpaper/wp-content/uploads/2013/04/Yeh-Jawaani-Hai-Deewani-Night-Party-HD-Wallpaper.jpg', alt='')
//-         p.promo1 Here is what my night looked like!
//-         a(href='#') 
//-           i.fa.fa-thumbs-o-up &nbsp; 15 votes
//-       
//-     .col-lg-3.col-md-2.col-sm-1.col-xs-1
//- .container
//-   .row
//-     br
//-     br      
//- 
//- .container
//-   .row
//-     .col-lg-3.col-md-2.col-sm-1.col-xs-1
//-     .col-lg-6.col-md-8.col-sm-10.col-xs-10
//-       .userImg
//-         img.img-responsive(src='http://www.viceland.com/blogs/nl_photoblog/files/2010/03/vice_mardi_grass_rdam-37-667x446.jpg', alt='')
//-         p.promo1 We had a great time!
//-         a(href='#') 
//-           i.fa.fa-thumbs-o-up &nbsp; 8 votes 
//-             
//-     .col-lg-3.col-md-2.col-sm-1.col-xs-1
//-       
//- .container
//-   .row
//-     br
//-     br       
//- .container
//-   .row      
//-     form
//-       input(type='text', ng-model='feed.title')
//-       input(type='text', ng-model='feed.url')
//-       input(type='submit', value='Add Feed')
//-         
//- .container
//-   .row
//-     br
//-     br
