nav.navbar.navbar-inverse
  .container-fluid
    .navbar-header
      button.navbar-toggle.collapsed(data-toggle="collapse", data-target="#navbar")
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(ui-sref='home') AFTER8
    #navbar.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right
        li: a(ui-sref='faq'): i.fa.fa-info &nbsp; Faq
        li: a(ui-sref='contact'): i.fa.fa-at &nbsp; Contact
        li: a(ui-sref='home'): i.fa.fa-sign-out &nbsp; Sign-out
.container-fluid
  .row
    .col-xs-12        
      .row
        .col-lg-5.col-md-5.col-sm-5.col-xs-5
        .col-lg-2.col-md-2.col-sm-2.col-xs-2
          p.profileName Welcome home 
            b {{username}} !!
          br
          div(flow-init='{singleFile:true}', flow-file-added='!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]')
            h3
              a.anchor(name='image-example', href='#image-example')
                span.octicon.octicon-link
              | 
            .thumbnail(ng-show='!$flow.files.length')
              img(src='http://www.placehold.it/200x150/EFEFEF/AAAAAA&text=no+image')
            .thumbnail(ng-show='$flow.files.length')
              img(flow-img='$flow.files[0]')
            div
              span.btn.btn-primary(ng-show='!$flow.files.length', flow-btn='') Select image
              span.btn.btn-info(ng-show='$flow.files.length', flow-btn='') Change
              span.btn.btn-danger(ng-show='$flow.files.length', ng-click='$flow.cancel()')
                | Remove
            p
              | Only PNG,GIF,JPG,JEPG files allowed.
        .col-lg-5.col-md-5.col-sm-5.col-xs-5
      .row
        a.btn.btn-danger(href='#/feed') Party Animalz Feed
        br
        h3.promo1 So... What's popping?
      .row
        .col-lg-6.col-md-6.col-xs-6
          br
          h3 Shows, Performances, Events in your area 
          br
          #carousel-events.carousel(style='margin: 30px 30px 30px 30px;')
            label.labelTag list of Events
            br
            .carousel-inner
              .item(ng-class='{active:!$index}', ng-repeat='(index, show) in shows')
                .col-md-6.col-md-6.col-sm-6.col-xs-6
                  img.img-responsive.img-center(src='{{show.image[3]["#text"]}}', width='400', height='400')
                .col-md-6.col-md-6.col-sm-6.col-xs-6
                  .row
                    h3 {{ show.title }}
                    h4 {{ (show.artists.artist).join(', ') }}
                    p {{ show.startDate }}
                  .row
                    h5 {{ show.name }}
                    h5 index: {{ index }}
                    h5 {{ show.venue.location.city }}
                    h5 {{ show.venue.location.street }}
                    h5 {{ show.venue.location.postalcode }}
                    h4 {{ show.venue.location['geo:point']['geo:lat'] }} and {{ show.venue.location['geo:point']['geo:long'] }}
                  .row  
                    a(ng-click='uber(index)')
                      .button
                        p#time
                    br        
                    a.btn.btn-info(href='{{show.url}}') Get Tickets 
            span.left.carousel-control(href='#carousel-events', role='button', data-slide='prev')
                span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
                span.sr-only Previous
            span.right.carousel-control(href='#carousel-events', role='button', data-slide='next')
                span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
                span.sr-only Next
          ul#uberResults(ng-repeat='price in prices')
            li  
            li
            li
            li 
            
        .col-lg-6.col-md-6.col-xs-6
          br
          h3 Hit the Bars, Nightclubs in town tonight 
          br
          #carousel-clubs.carousel(style='margin: 30px 30px 30px 30px;')
            label.labelTag list of Clubs
            br
            .carousel-inner
              .item(ng-class='{active:!$index}', ng-repeat='venue in venues')
                  .row
                    h3 {{ venue.name }}
                    h4 {{ venue.location.city }}
                  .row
                    h5 {{ venue.categories[0].shortName }}
                    h5 Address: {{ (venue.location.formattedAddress).join(', ') }}
                    h5 Foursquare Users checked-in: {{ venue.stats.checkinsCount }}
                    h5 Foursquare Users count: {{ venue.stats.usersCount }}
                    h4 {{ venue.location.lat }} and {{ venue.location.lng }}
                  .row
                    a(href='#', ng-click='uber()')
                      .button
                        p#time
                    br                 
                    a.btn.btn-info(href='{{venue.url}}') More infos 
            span.left.carousel-control(href='#carousel-clubs', role='button', data-slide='prev')
                span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
                span.sr-only Previous
            span.right.carousel-control(href='#carousel-clubs', role='button', data-slide='next')
                span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
                span.sr-only Next
          ul#uberResults(ng-repeat='price in prices')
            li  
            li
            li
            li
      .row
        br
        a.btn.btn-warning(ng-click='lastFM()') lastFM
        a.btn.btn-danger(ng-click='foursquare()') foursquare

                
            


      


  
