.container
  .row
    .col-lg-5.col-md-4.col-xs-3
    .col-lg-2.col-md-4.col-xs-6
      p.profileName Welcome home 
        b {{username}} !!
      br
      img.img-circle.img-responsive.img-center(src='http://singersroom.com/upload/2013/04/Beyonce-Goodwill-Partnership.jpg', alt='reponsive-image')
    .col-lg-5.col-md-4.col-xs-3
  .row
    br
    a.btn.btn-danger(href='#/feed') Party Animalz Feed
    br
    h3.promo1 So... What's popping?
    br
    p Your location: {{coords}}
    h1
      reverse-geocode(lat='40.730885', lng='-73.997383')
    br
    h3 Shows, Performances, Events in your area
  .row
    br
    #carousel-events.carousel.slide(data-ride='carousel')

      ol.carousel-indicators
        li.active(data-target='#carousel-events', data-slide-to='0')
        li(data-target='#carousel-events', data-slide-to='1')
        li(data-target='#carousel-events', data-slide-to='2')

      .carousel-inner(role='listbox')
        .item.active
          img(src='http://www.vogue.com/r/h_900,w_900/2014/12/02/victorias-secret-backstage-2014-11.jpg', alt='', href='venue.url')
          .carousel-caption.col-md-6
            h4 title
            h3 artists.artist
            p startDate
          .col-md-6.pull-right
            h5 venue.name
            h5 venue.location.city
            h5 venue.location.street
            h5 venue.location.postalcode 
          a.btn.btn-success(href='uber') Get a Cab
          a.btn.btn-info(href='venue.website') get a Ticket 
        .item
          img(src='http://www.ryanseacrest.com/wp-content/uploads/2013/02/RealityShow2.jpg', alt='', href='venue.url')
          .carousel-caption.col-md-6
            h4 title
            h3 artists.artist
            p startDate
          .col-md-6.pull-right
            h5 venue.name
            h5 venue.location.city
            h5 venue.location.street
            h5 venue.location.postalcode 
          a.btn.btn-success(href='uber') Get a Cab
          a.btn.btn-info(href='venue.website') get a Ticket 
        .item
          img(src='https://sup3rjunior.files.wordpress.com/2013/03/130323-hyuk-6.jpg', alt='', href='venue.url')
          .carousel-caption.col-md-6
            h4 title
            h3 artists.artist
            p startDate
          .col-md-6.pull-right
            h5 venue.name
            h5 venue.location.city
            h5 venue.location.street
            h5 venue.location.postalcode 
          a.btn.btn-success(href='uber') Get a Cab
          a.btn.btn-info(href='venue.website') get a Ticket  

      span.left.carousel-control(href='#carousel-events', role='button', data-slide='prev')
        span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
        span.sr-only Previous
      span.right.carousel-control(href='#carousel-events', role='button', data-slide='next')
        span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
        span.sr-only Next
        br

  .row
    br
    h3 Hit the Bars, Nightclubs in town tonight 
    br
    #carousel-clubs.carousel(style='margin-left: 20px;')
      label.labelTag list of clubs
      br
      .carousel-inner
        .item(ng-class='{active:!$index}', ng-repeat='venue in venues')
          img.img-responsive(src='')
          .carousel-caption.col-md-6
            h3 {{venue.clubName}}
            h4 {{venue.clubCity}}
          .col-md-6.pull-right
            h5 {{venue.shortName}}
            h5 {{venue.checkinsCount}}
            h5 {{venue.usersCount}}

          a.btn.btn-success(href='{{uber}}') Get a Cab
          a.btn.btn-info(href='{{venue.clubUrl}}') More infos 
      span.left.carousel-control(href='#carousel-clubs', role='button', data-slide='prev')
          span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
          span.sr-only Previous
      span.right.carousel-control(href='#carousel-clubs', role='button', data-slide='next')
          span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
          span.sr-only Next
  .row
    a.btn.btn-warning(ng-click='firstLog()') lastFM
    a.btn.btn-danger(ng-click='secondLog()') foursquare 
            
          


      


  
