nav.navbar.navbar-inverse
  .container-fluid
    .navbar-header
      button.navbar-toggle.collapsed(data-toggle="collapse", data-target="#navbar")
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(ui-sref='home') AFTER8
    #navbar.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right
        li: a(ui-sref='faq'): i.fa.fa-info &nbsp; Faq
        li: a(ui-sref='contact'): i.fa.fa-at &nbsp; Contact
        li: a(ui-sref='home'): i.fa.fa-sign-out &nbsp; Sign-out
.container-fluid
  .row
    .col-xs-12
      img.map(src='http://maps.googleapis.com/maps/api/staticmap?center={{coords.latitude}},{{coords.longitude}}&zoom=16&format=png&sensor=false&size=300x200&maptype=roadmap&style=element:geometry.fill|color:0xf4f4f4&markers=color:red|{{coords.latitude}},{{coords.longitude}}&scale=2', alt='')        
      .row
        .col-lg-5.col-md-5.col-sm-4
        .col-lg-2.col-md-2.col-sm-4.col-xs-12
          ul.profileName Welcome home {{username}}     
          img(ng-src='{{user.cachedUserProfile.userimage}}')
        .col-lg-5.col-md-5.col-sm-4
      .row
        br
        a.btn.btn-success(href='#/feed') Chat room
        br
        h2 So... What's popping?
      .row
        .col-lg-6.col-md-6.col-xs-12
          h3 Shows, Performances, Events in your area 
          #carousel-events.carousel(style='margin: 30px 30px 30px 30px; border: 1px solid black;')
            label.labelTag list of Events
            br
            .carousel-inner
              .item(ng-class='{active:!$index}', ng-repeat='(index, show) in shows')
                .col-md-6.col-md-6
                  img.img-responsive.img-center(src='{{show.image[3]["#text"]}}', width='400', height='400', style='border: 1px solid black;')
                .col-md-6.col-md-6
                  .row
                    h3 {{ show.title }}
                    h4 {{ (show.artists.artist).join(', ') }}
                    p {{ show.startDate }}
                  .row
                    h5 {{ show.name }}
                    h5 {{ show.venue.location.city }}
                    h5 {{ show.venue.location.street }}
                    h5 {{ show.venue.location.postalcode }}
                  .row  
                    a.btn.btn-info(href='{{show.url}}') Get Tickets
                    br 
            .row                
              a(ng-click='uber(index)')
                .button
                  p#time Get a ride
                  br        
             span.left.carousel-control(href='#carousel-events', role='button', data-slide='prev')
                span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
                span.sr-only Previous
            span.right.carousel-control(href='#carousel-events', role='button', data-slide='next')
                span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
                span.sr-only Next
            
        .col-lg-6.col-md-6.col-xs-12
          h3 Hit the Bars, Nightclubs in town tonight 
          #carousel-clubs.carousel(style='margin: 30px 30px 30px 30px; border: 1px solid black;')
            label.labelTag list of Clubs
            br
            .carousel-inner
              .item(ng-class='{active:!$index}', ng-repeat='(index, venue) in venues')
                  .row
                    h3 {{ venue.name }}
                    h4 {{ venue.location.city }}
                  .row
                    p {{ venue.categories[0].shortName }}
                    h5 {{ (venue.location.formattedAddress).join(', ') }}
                    h5 Foursquare Users checked-in: {{ venue.stats.checkinsCount }}
                    h5 Foursquare Users count: {{ venue.stats.usersCount }}
                  .row
                    a.btn.btn-info(href='{{venue.url}}') More infos
                    br
            .row
              a(href='#', ng-click='uber2(index)')
                .button
                  p#time2 Get a ride
                  br                 
            span.left.carousel-control(href='#carousel-clubs', role='button', data-slide='prev')
                span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
                span.sr-only Previous
            span.right.carousel-control(href='#carousel-clubs', role='button', data-slide='next')
                span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
                span.sr-only Next

      
        //- 
        //- div(flow-init='{singleFile:true}', flow-file-added='!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]')
        //-   h3
        //-     img(ng-src=='{{userimage}}')
        //-     a.anchor(name='image-example', href='#image-example')
        //-       span.octicon.octicon-link
        //-     | 
        //-   .thumbnail(ng-show='!$flow.files.length')
        //-     img(src='http://www.placehold.it/200x150/EFEFEF/AAAAAA&text=no+image')
        //-   .thumbnail(ng-show='$flow.files.length')
        //-     img(flow-img='$flow.files[0]')
        //-   div
        //-     span.btn.btn-default(ng-show='!$flow.files.length', flow-btn='') Select image
        //-     span.btn.btn-info(ng-show='$flow.files.length', flow-btn='') Change
        //-     span.btn.btn-info(ng-show='$flow.files.length', ng-click='$flow.cancel()')
        //-       | Remove
        //- 
